<!-- <div class="container-fluid"> -->
    <!-- <hr> -->
    <!-- <app-user></app-user> -->
    <!-- <h3>App component loaded...</h3> -->
    <!-- <h6>user info component</h6> -->
    <!-- using element selector -->
    <!-- <app-userinfo></app-userinfo> -->
    <!-- using class selector -->
    <!-- <div class="app-userinfo"></div>-->
    <!-- using attribute selector -->
    <!-- <div app-userinfo></div> -->
<!-- </div> -->

<app-home></app-home>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

    

   